body{
  background: #999;
}

.sliding-doors{
  width: 485px;
  height: 395px;
  position: absolute;
  top: 20%;
  left: 30%;
  overflow: hidden;
  background-image: url(/img/44786381_10217773392992372_4339897232351297536_n.jpg);
  background-size:100% 100%;
}

.sliding-doors:before {
  content: "";
  width: 50%;
  height: 395px;
  left: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: 2000ms;
  background-image: url(/img/lewy.jpg);
  background-size: auto;
}

.sliding-doors:after{
  content: "";
  width: 50%;
  height: 395px;
  left: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: 2000ms;
  background-image: url(/img/prawy.jpg);
  background-size: auto;
}

.sliding-doors:hover:before{
  left: -243px;
}

.sliding-doors:hover:after{
  left: 243px;
}