/*ogólne style*/


html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    transition: all 0.3s;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

div.gallery img {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
}

div.gallery img:hover {
    border: 1px solid #777;
}

div.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
}


/* nagłówek */

header img {
    width: 100%;
    height: 20vh;
}

/* menu nagłówka */


#main-nav {
    background-color: #800040;
    width: 100%;
}

#main-nav .toggle, #drop {
    display: none;
}

#main-nav ul {
    margin: 0;
    text-align: center;
}

#main-nav ul li {
    display: inline-block;
    padding: 25px;
}

#main-nav ul li a {
    text-decoration: none;
    color: white; 
    font-weight: 300;
    text-transform: uppercase; 
}

#main-nav ul li a:hover {
    color: #80ff80;
}


/* omnie */



section.omnie {
    min-height: 110vh;
}

section.omnie img {
    width: 50%;
    height: 50%;
    padding-left: 25%;
}

section.omnie p {
    text-align: center;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}


/* warsztaty */

section p {
    text-align: center;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}



/* ebru */



/* wspolpraca */




/* tkaniny */




/* kontakt */

div.contact {
    font-weight: 200;
    text-align: center;
    width: 100%;
}

div.contact .contact-data {
    padding: 100px;
}

div.contact .contact-data h2 {
    font-size: 38px;
}

div.contact .contact-data .contact-social-icons {
    padding: 20px;
}

div.contact .contact-data .contact-social-icons a.face {
    padding: 20px;
}

div.contact .contact-data .contact-social-icons a.insta {
    padding: 20px;
}

div.contact .contact-data .contact-social-icons a.face:hover {
    color: blueviolet;
}

div.contact .contact-data .contact-social-icons a.insta:hover {
    color: orange;
}

div.contact .contact-data address {
    font-style: normal;
    line-height: 25px;
}

div.contact .contact-data address a {
    color: #006600;
}


/* stopka */


footer.copyright {
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer.copyright {
    background-color: #142634;
    color: #fff;
}

footer.copyright img {
    width: 100%;
}

footer.copyright a {
 color: #1ac056;
}

footer.copyright p {
    margin: 0;
}