@media all and (max-width: 1200px) {
    section .gallery {
        flex: 50%;
    }
}

@media all and (max-width: 768px) {
    #main-nav .toggle {
        display: block;
        background-color: #fff;
        color: #800040;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }
    #main-nav ul {
        display: none;
    }
    #main-nav #drop:checked+ul {
        display: block;
    }
    #main-nav ul li {
        width: 90%;
    }
}

@media all and (max-width: 680px) {
    section.omnie img {
        width: 66%;
        height: 66%;
        padding-left: 18%;
    }
    section.omnie {
        padding-bottom: 20%;
    }
}

@media all and (max-width: 480px) {
    
    #main-nav ul li {
        width: 75%;
    }
    section .gallery {
        flex: 100%;
    }
    
    section.omnie img {
        width: 80%;
        height: 80%;
        padding-left: 10%;
    }
    h2 {
        font-size: 20px;
    }
}
