@import "variables";

#contact {
    background-color: #213b50;
    color: #fff;
    font-weight: 100;
    padding: 10px;
    
    .container {
        .row {
            .contact-data {
                h2 {
                    text-align: left;
                    font-size: 38px;
                }
                
                address {
                    font-style: normal;
                    margin: 72px 0;
                    line-height: 25px;
                    font-size: 16px;
                    
                    a {
                        color: $green-color;
                    }
                }
                
                .contact-social-icons {
                    a {
                        display: inline-block;
                        border: 1px solid #fff;
                        color: #fff;
                        height: 38px;
                        width: 38px;
                        text-align: center;
                        line-height: 38px;
                        margin-right: 30px;
                        font-size: 22px;
                        
                        &:hover {
                            color: #213b50;
                            border: 1px solid #213b50;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
