@import "variables";
@import "mixins";

#contact {
    .container {
        .row {
            .contact-form {
                margin-top: 50px;
                text-align: left;
                
                input,
                textarea {
                    @include input;
                    
                    &:focus,
                    &:focus {
                        background-color: #426684;
                    }
                }
                
                input[type="submit"] {
                    background-color: $green-color;
                    color: #fff;
                    width: auto;
                    font-weight: 600;
                    padding: 15px 30px;
                    border: 1px solid #fff;
                    float: right;
                    
                    &:hover {
                        background-color: #fff;
                        color: $green-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
