@import "variables";

#portfolio {
    margin-bottom: 100px;
    
    .container {
        .row {
            text-align: center;
            
            h2 {
                padding: 25px;
                font-size: 30px;
                font-weight: 100;
            }
            
            .portfolio-item {
                height: 350px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                padding: 0;
                
                .item-mask {
                    background-color: rgba(42, 61, 79, 0.8);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    font-size: initial;
                    
                    &:hover {
                        opacity: 1;
                    }
                    
                    .item-content {
                        height: 330px;
                        border: 1px solid #fff;
                        margin: 10px;
                        position: relative;
                        
                        .item-content-inner {
                            color: #fff;
                            top: 50%;
                            transform: translateY(-50%);
                            position: absolute;
                            padding: 5px;
                            
                            i {
                                color: #fff;
                                
                                &:hover {
                                    color: $green-color;
                                }
                            }
                        }
                    }
                }
            }
            
            #portfolio-item-1 {
                background-image: url(../img/portfolio1.jpg);
            }
            
            #portfolio-item-2 {
                background-image: url(../img/portfolio2.jpg);
            }
            
            #portfolio-item-3 {
                background-image: url(../img/portfolio3.jpg);
            }
        }
    }
}
