#skillz {
    padding: 50px;
    text-align: center;
    font-weight: 100;
    
    .container {
        
        .row {
            padding: 10px;
            
            figure {
                padding: 30px;
                display: inline-block;
            }
        }
    }
}
